<html>

<head>


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="about.component.css" rel="stylesheet">

</head>


<body>
    <div class="container">
        <h1 class="display-6 mb-4" style="text-align: center;">Description</h1>
        <p>The main objective of the Online Movie Ticket Booking System is to manage the details of
            Movie,Ticket,Customer,Show Timing,Audi. It manages all the information about Movie, Booking, Audi, Movie.
            The project is totally built at administrative end and thus only the administrator is guaranteed the access.
        </p>
        <p>An e-ticket (electronic ticket) is a paperless electronic document used for ticketing passengers,
            particularly in the commercial airline industry. Virtually all major airlines now use this method of
            ticketing.
        </p>
        <p>An online reservation system is a software solution that allows customers to book their reservations or
            appointments online via a company's website or app instead of over the phone or in person..</p>
    </div>
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 " style="max-width: 600px;">
                <h6 class="section-title bg-white text-center text-primary px-3">Our Team</h6>
                <h1 class="display-6 mb-4">We Are A Creative Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 ">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Sharat Hiremath</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Rajdev Kumar</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Vasantkumar KS</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Bobin S</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Ramesh SN</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="col-lg-4 col-md-6 ">
                    <div class="team-item text-center p-4">
                        <img class="img-fluid border rounded-circle w-75 p-2 mb-4" src="#" alt="no images">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Hemanth K</h5>
                                <span>Software Engineer</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="display-6 mb-4" style="text-align: center;">Our Location</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.88654003857!2d77.49085274762706!3d12.953959987171352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1656302172110!5m2!1sen!2sin"
            width="1260" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>

</body>

</html>